.button {
  font-family: var(--font-urbanist);
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 768px) {
  .button {
    font-size: 1rem;
    padding: 8px 28px;
  }
}

@media (max-width: 480px) {
  .button {
    font-size: 1rem;
    padding: 10px 32px;
    width: 100%;
    margin: 5px 0;
  }
}

.transparent {
  border: 2px solid #dadada;
  background: transparent;
  color: black;
  padding: 10px 36px;
  margin: 10px;
  font-weight: bold;
  box-shadow: inset 1px 0 10px #4e474717, 4px 7px 10px 0px #e8e8e8b0;
}

.white {
  border: 2px solid #dadada;
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  margin: 10px;
  padding: 10px 36px;
  box-shadow: inset 1px 0 10px #4e474717, 4px 7px 10px 0px #e8e8e8b0;
}

.black {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 10px 36px;
  margin: 10px;
  font-weight: bold;
  box-shadow: inset 1px 0 10px #4e474717, 4px 7px 10px 0px #6c6c6c59;
}

.auth-social-dark {
  border: 2px solid #202020;
  background-color: black;
  color: white;
  font-weight: 500;
  margin: 10px;
  width: 200px;
  height: 60px;
}

.fullwhite {
  border: 2px solid #dadada;
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  padding: 10px 36px;
}
