.button {
  font-family: var(--font-urbanist);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 36px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.transparent {
  border: 2px solid #dadada;
  background: transparent;
  color: black;
  box-shadow: inset 1px 0 10px #4e474717, 4px 7px 10px 0px #e8e8e8b0;
}

.white {
  border: 2px solid #dadada;
  background-color: #ffffff;
  color: black;
  box-shadow: inset 1px 0 10px #4e474717, 4px 7px 10px 0px #e8e8e8b0;
}

.black {
  background-color: black;
  color: white;
  border: 2px solid black;
  box-shadow: inset 1px 0 10px #4e474717, 4px 7px 10px 0px #e8e8e8b0;
}
