@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  @apply min-h-screen bg-[#ffffff] font-sans dark:bg-[#ffffff];
}

.hero {
  font-family: var(--font-space-grotesk);
  font-size: 80px;
  font-weight: bold;
  width: 70%;
  text-align: center;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  line-height: 100px;
}

.fancy {
  font-family: var(--font-space-grotesk);
  letter-spacing: -2.5px;
  background: linear-gradient(
    90deg,
    rgba(232, 46, 145, 1) 0%,
    rgba(164, 67, 180, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-description {
  font-family: var(--font-urbanist);
  line-height: 25px;
  word-spacing: 0.5px;
  font-weight: 600;
  color: #797979;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
