@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-space: var(--font-space-grotesk);
  --font-mont: var(--font-montserrat);
  --font-pop: var(--font-poppins);
  --font-urban: var(--font-urbanist);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  @apply min-h-screen bg-[#ffffff] font-sans dark:bg-[#ffffff];
}

.homedark {
  @apply min-h-screen bg-[#000000] font-sans dark:bg-[#000000];
}

.heading {
  margin-left: auto;
  margin-bottom: auto;
}

.signhead {
  text-align: center;
  font-size: xx-large;
  color: white;
  font-family: var(--font-space-grotesk);
  font-weight: 500;
}

.sign-description {
  text-align: center;
  color: #bbbbbb;
  padding-top: 10px;
  font-family: var(--font-space-grotesk);
}

.signhead::selection,
.sign-description::selection {
  background-color: white;
  color: black;
}

.splitter-container {
  width: 30%;
  display: flex;
  align-items: center;
  margin: 20px auto 16px auto;
  color: #aaa;
  font-size: 14px;
}

.splitter-line {
  flex-grow: 1;
  height: 1px;
  background-color: #555;
}

.splitter-text {
  padding: 0 15px;
  white-space: nowrap;
  user-select: none;
}

.fields {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.fields > * {
  width: 100%;
}

@media (min-width: 640px) {
  .fields {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .fields {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .fields {
    width: 30%;
    flex-direction: row;
  }

  .fields > * {
    width: calc(50% - 5px);
  }
}

.login {
  text-align: center;
  color: #8e8e8e;
  margin-top: 16px;
  font-weight: 500;
}

.loginbtn {
  color: white;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.forgotpw {
  font-family: var(--font-space-grotesk);
  font-weight: 500;
  @apply text-sm text-blue-600 dark:text-blue-400 hover:underline;
}

.holdbutton {
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  position: inherit;
  user-select: none;
}

.main {
  @apply flex flex-col items-center justify-center px-4 py-16;
}

.hero {
  @apply text-4xl sm:text-5xl md:text-7xl lg:text-8xl font-black tracking-tighter text-slate-900 mb-6 leading-[1] text-center max-w-5xl mt-8;
}

.remember {
  @apply text-transparent bg-clip-text bg-gradient-to-br from-purple-600 to-blue-600;
}

.hero-description {
  @apply max-w-xl mx-auto text-base md:text-lg lg:text-xl text-slate-500 font-medium text-center px-4;
}
