@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-space: var(--font-space-grotesk);
  --font-mont: var(--font-montserrat);
  --font-pop: var(--font-poppins);
  --font-urban: var(--font-urbanist);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  @apply min-h-screen bg-[#ffffff] font-sans dark:bg-[#ffffff];
}

.homedark {
  @apply min-h-screen bg-[#000000] font-sans dark:bg-[#000000];
}

.heading {
  padding-top: 40px;
  margin-left: auto;
  margin-bottom: auto;
}

.signhead {
  text-align: center;
  font-size: xx-large;
  color: white;
  font-family: var(--font-space-grotesk);
  font-weight: 500;
}

.sign-description {
  text-align: center;
  color: #bbbbbb;
  padding-top: 10px;
  font-family: var(--font-space-grotesk);
}

.signhead::selection,
.sign-description::selection {
  background-color: white;
  color: black;
}

.splitter-container {
  width: 30%;
  display: flex;
  align-items: center;
  margin: 20px auto 16px auto;
  color: #aaa;
  font-size: 14px;
}

.splitter-line {
  flex-grow: 1;
  height: 1px;
  background-color: #555;
}

.splitter-text {
  padding: 0 15px;
  white-space: nowrap;
  user-select: none;
}

.fields {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.login {
  text-align: center;
  color: #8e8e8e;
  margin-top: 16px;
  font-weight: 500;
  padding-bottom: 20px;
}

.loginbtn {
  color: white;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.forgotpw {
  font-family: var(--font-space-grotesk);
  font-weight: 500;
  @apply text-sm text-blue-600 dark:text-blue-400 hover:underline;
}
