.nav {
  display: flex;
  gap: 50px;
  margin-top: 21.75px;
}

.li_items {
  font-family: var(--font-urbanist);
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  cursor: pointer;
  user-select: none;
}

.active {
  color: black;
}

.unactive {
  color: #969696;
}
