.category {
  color: #bbb8bd;
  font-size: 0.9rem;
  font-weight: 500;
  user-select: none;
}

.items {
  margin-top: 20px;
}

.item {
  padding: 15px 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  text-align: center;
  user-select: none;
}
.icons {
  text-align: center;
}

.text {
  text-align: center;
  margin-top: 2px;
  color: #3b3b3b;
  font-family: var(--font-space-grotesk);
  user-select: none;
}

.startitems {
  margin-top: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #56525839;
}
