.sidebar {
  height: 100%;
  position: fixed;
  width: 365px;
  background-color: #f5f5f5;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 20px 10px 20px 30px;
}

.logo {
  user-select: none;
  font-family: var(--font-poppins);
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(232, 46, 145, 1) 0%,
    rgba(164, 67, 180, 1) 50%,
    rgba(107, 80, 213, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: rgba(232, 46, 145, 1);
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.1rem;
  }
}

.search-form {
  margin-top: 25px;
  width: 100%;
  position: relative;
}

.search-input {
  width: 100%;
  border: 2px solid #eeebee;
  padding-left: 54px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  outline: none;
  background-color: #ffffff;
  color: black;
  font-family: var(--font-monstserrat);
  font-weight: 500;
}

.search-logo {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  display: flex;
  align-items: center;
  font-size: 20px;
}

::selection,
::-moz-selection {
  background-color: black;
  color: white;
}
